<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body ng-app="myApp" ng-controller="userCtrl">

<div class="w3-container">

<div class="w3-bar w3-teal">
  <div class="w3-bar-item w3-teal">
  <button class="w3-btn w3-lightgrey w3-ripple" ng-click="showLists()">&#9998; Contacts</button>
  </div>
  <div class="w3-bar-item w3-teal">
  <button class="w3-btn w3-teal w3-ripple w3-border-green" ng-click="editContact('new')">&#9998; Create New Contact</button>
  </div>
</div>


<form ng-show="ShowList">
<table class="w3-table w3-bordered w3-striped">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
	<th>Email</th>
	<th>Phone Number</th>
	<th>Edit</th>
	<th>Delete</th>
  </tr>
  <tr ng-repeat="Contact in Contacts | orderBy: 'fName' ">
    <td>{{ Contact.fName }}</td>
    <td>{{ Contact.lName }}</td>
	<td>{{ Contact.email }}</td>
	<td>{{ Contact.phone }}</td>
	<td>
      <button class="w3-btn w3-ripple" ng-click="editContact(Contact.id)">&#9998; Edit</button>
    </td>
	<td>
      <button class="w3-btn w3-ripple w3-red" ng-click="deleteUser(Contact.id)">&#9998; X</button>
    </td>
  </tr>
</table>
</form>


<form ng-hide="hideform">
  <h3 ng-show="edit">Add New Contact:</h3>
  <h3 ng-hide="edit">Edit Contact:</h3>
    <label>First Name:</label>
    <input class="w3-input w3-border" type="text" ng-model="fName" ng-disabled="!edit" placeholder="First Name">
  <br>
    <label>Last Name:</label>
    <input class="w3-input w3-border" type="text" ng-model="lName" ng-disabled="!edit" placeholder="Last Name">
  <br>
    <label>email:</label>
    <input class="w3-input w3-border" type="email" ng-model="email" placeholder="email">
  <br>
    <label>phone Number:</label>
    <input class="w3-input w3-border" type="text" ng-model="phone" placeholder="phone Number">
 <br>
<button ng-hide="edit" ng-click="SaveEditContact(Contact.id)" class="w3-btn w3-green w3-ripple" ng-disabled="error || incomplete">&#10004; Save Edits</button>

 <br>
<button ng-show="edit"  ng-click="SaveNewContact(Contact.id)" class="w3-btn w3-green w3-ripple" ng-disabled="error || incomplete">&#10004; Save </button>

</form>

</div>

<script src= "ContactControles.js"></script>

</body>
</html>